body {
    background-color: #13608d;
    color: #f4f4eb;
    overflow-x: hidden;
}

.main {
    text-align: center;
}
h1 {
    font-size: 3.2em;
}

ul {
    list-style-type: none;
    margin: 0;
    padding: 0; 
}

li {
    display: inline;
 
}
.nav-bar {
    color: white;
    text-decoration: none;
    font-size: 20px;
    padding: 10px;
    font-family: 'Kanit', sans-serif;
    width: 50%;
}

.nav-bar:hover {
    background: rgb(239, 124, 46);
    transform: scale(1.2);
    box-shadow: 0 0 5px #146594;
    border-radius: 5px;    
}

a {
    text-decoration: none;
    left: 0px;
}

hr {
    width: 60%;
}

h1 {
    color:rgb(227, 173, 56);
    text-align: center;
}
h3 {
    color:rgb(227, 173, 56);
}

.css-positioning {
    position: relative;
    text-align: center;
    width: 70%;
    margin: auto;
}

#mozilla-link {
    color: rgb(227, 173, 56);
    text-decoration: underline;
}

#dom-image {
    width: 40em;
    height: 20em;
}