body {
    background-color: #13608d;
    color: #f4f4eb;
    overflow-x: hidden;
}

.main {
    position: relative;
    font-size: 2em;
    text-align: center;
    top: 1.5em;
    margin: auto;
}

ul {
    list-style-type: none;
    margin: 0;
    padding: 0;    
}

li {
    display: inline;
}

.nav-bar {
    color: white;
    text-decoration: none;
    font-size: 20px;
    padding: 10px;
    font-family: 'Kanit', sans-serif;
    width: 50%;
}

.nav-bar:hover {
    background: rgb(239, 124, 46);
    transform: scale(1.2);
    box-shadow: 0 0 5px #146594;
    border-radius: 5px;    
}

img {
    height: 4em;
    display: block;
    background-color: rgb(223, 162, 30);
    border-radius: 30%;
    position: absolute;
    right: 2em;
    top: 2em;
}

img:hover {
transform: scale(1.2);
box-shadow: 0 0 5px #146594;
cursor: pointer;
}

hr {
    position: relative;
    width: 60%
}

h2 {
    font-size: 35px;
    color:rgb(227, 173, 56);
}

p {
    padding: 13px;
    position: relative;
    width: 70%;
    margin: auto;
    padding-bottom: 25px;
    font-size: 21px;
}
footer {
    display: block;
    background-color: rgb(190, 175, 155);
    padding-top: 25px; 
    margin-top: 5em;
    top: 100%;    
    width: 100%;
}

.footer-p {
    left: 0px;
    color: black;
    text-decoration: none;
    font-size: 13px;
}

.footer-hover:hover {
    text-decoration-color: blue;
}
